<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
  </head>
  <body>
    <h1>March 29</h1>
    <p>
      Welcome to the main page. Here you can find links to different experiments.
    </p>
    <ul>
      {% for name in gallery_names %}
      <li>
        <a href="{{ url_for('gallery', gallery_id=name) }}"
          >{{ name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    <p>
      Notes:
      <ul>
        <li>Found bug with expected image range (previously the images were 256x darker than expected)</li>
        <ul>
          <li>Greatly improved results</li>
        </ul>
        <li>Currently experimenting with increasing the size of the target point</li>
        <ul>
          <li>Currently its just the specific pixel of interest but increasing that to a small gaussian</li>
          <li>Looking promising so far with a <a href="https://wandb.ai/iamerichedlin/estimated_correspondences/runs/1stni3k1?workspace=user-iamerichedlin">high degree of uncertainty</a></li>
        </ul>
        <li>Need to implement adding noise to images to test differing Ts within the diffusion process</li>
        <li>Optimization runs are currently over 77 tokens (size 77x768) and attention maps are just supervised for and drawn from the 1st index</li>
        <li>Token estimation network is supervised to estiamte tokens leading to attention maps which activate at the source point of interest as well as a cycle consistency loss from source -> target -> source </li>
        <ul>
          <li>Never shown ground truth correspondences</li>
          <li>Seems to currently not use any image information</li>
        </ul>
        <li>Current state of the art in correspondence estimation </li>
        <img src="static/results.png" alt="current state of the art">
      </ul>
    </p>
  </body>
</html>
