<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Details</title>
  </head>
  <body>
    <h1>Image Details</h1>
    <p>
      <a href="{{ url_for('gallery', gallery_id=gallery_id) }}"
        >Back to gallery</a
      >
    </p>
    <h2>Source Images</h2>
    {% for j in range(x) %}
    <p>Keypoint {{ j }}</p>
    <img
      src="{{ url_for('custom_static', filename='%03d_initial_point_%02d.png' % (image_id, j), v=cache_buster)  }}"
      alt="Initial Image {{ j }}"
      width="300"
      height="300"
    />
    {% for k in range(y) %}
    <img
      src="{{ url_for('custom_static', filename='%03d_largest_loc_src_%02d_%02d.png' % (image_id, j, k), v=cache_buster)  }}"
      alt="Source Image {{ j }}"
      width="300"
      height="300"
    />
    {% endfor %} {% endfor %}
    <h2>Target Images</h2>
    {% for j in range(x) %}
    <p>Keypoint {{ j }}</p>
    <img
      src="{{ url_for('custom_static', filename='%03d_target_point_%02d.png' % (image_id, j), v=cache_buster)  }}"
      alt="Target Image {{ j }}"
      width="300"
      height="300"
    />
    {% for k in range(y) %}
    <img
      src="{{ url_for('custom_static', filename='%03d_largest_loc_trg_%02d_%02d.png' % (image_id, j, k), v=cache_buster)  }}"
      alt="Target Image {{ j }}"
      width="300"
      height="300"
    />
    {% endfor %} {% endfor %}
  </body>
</html>
